@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

html {
    font-family: robotoregular, system-ui, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 350px 1fr;
    min-height: 100vh;
}

nav {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 50px 1fr;
    background-color: rgb(240, 240, 240);
    border-right: 2px solid lightgray;
}

.mainheader {
    grid-row: 1/2;
    font-size: 2em;
    background-color: rgb(196, 196, 196);
    align-content: center;    
}

.mainheader h1 {
    padding-left: 32px;
    color: rgb(255, 255, 255);
}

.navsection {
    grid-row: 2/3;
    padding: 7px 16px 16px 16px;
}

nav ul {
    margin-bottom: 64px;
}

#tasklist {
    margin-top: 32px;
}

.navheader {
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
    padding-bottom: 8px;
}

.navheader,
.projectitem {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: left;
    width: 100%;
}

.navheader img {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.navheader h1 {
    grid-column: 2/3;
    font-size: 2em;
    align-self: center;
}

#completedprojectslist>div h1 {
    font-size: 1.5em;
}

#completedprojectslist>button>p {
    font-size: 1.25em;
    color: rgb(95, 95, 95);
}

.addtask,
.addproject,
.addtaskbutton {
    filter: invert(16%) sepia(49%) saturate(6456%) hue-rotate(357deg) brightness(114%) contrast(132%);
}

.addtask:hover,
.addproject:hover,
.addtaskbutton:hover {
    filter: invert(68%) sepia(69%) saturate(2828%) hue-rotate(315deg) brightness(106%) contrast(102%);
}

.addtaskdisabled {
    filter: invert(83%) sepia(10%) saturate(10%) hue-rotate(319deg) brightness(87%) contrast(83%);
}

.projectitem {
    border: 0;
    border-radius: 5px;
    background: none;
}

.projectitem>img {
    justify-self: center;
    align-self: center;
}

.projectitem>p {
    font-size: 1.5em;
}

.projectitem:hover {
    background-color: white;
}

#content {
    grid-column: 2/3;
    padding: 64px;
}

.projectheader {
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
    max-width: 1500px;
    min-width: 800px;
    align-items: end;
}

.projectheader>h2 {
    grid-column: 1/2;
    font-size: 3em;
}

.editbutton,
.deletebutton {
    width: 30px;
    height: 30px;
    background: none;
    border: 0;
    border-radius: 5px;

}

.deletebutton:hover {
    filter: invert(16%) sepia(49%) saturate(6456%) hue-rotate(357deg) brightness(114%) contrast(132%);
}

.editbutton:hover {
    filter: invert(29%) sepia(36%) saturate(5661%) hue-rotate(204deg) brightness(103%) contrast(102%);
}

.projectdescription {
    padding: 16px;
    font-size: 1.25em;
    max-width: 1000px;
    min-width: 600px;
    margin-bottom: 64px;
}

.projecttasklist {
    display: grid;
    grid-column: 1fr;
    width: 100%;
    max-width: 1500px;
    min-height: 200px;
    margin-bottom: 32px;
    align-content: first baseline;
    border-bottom: 1px solid lightgray;
}

.tasksheader {
    display: grid;
    grid-template-columns: 40px 3fr 1fr 40px 40px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.addtaskbutton {
    grid-column: 1/2;
    width: 30px;
    height: 30px;
    background: none;
    border: 0;
    border-radius: 5px;
    align-self: center;
}

.taskscolumntitle {
    grid-column: 2/3;
    font-size: 2em;
    padding-left: 10px;
}

.duedatecolumntitle {
    grid-column: 3/4;
    font-size: 2em;
}

.tasklisttask {
    display: grid;
    grid-template-columns: 40px 3fr 1fr 40px 40px;
    width: 100%;
    height: 50px;
    padding-left: 4px;
    margin-bottom: 8px;
    font-size: 1.5em;
    border-radius: 10px;
    align-items: center;
}

.tasklisttask-expanded {
    grid-template-rows: 1fr 1fr 4fr;
}

.tasklisttask-priority {
    grid-row: 2/3;
    width: 600px;
    font-size: 0.75em;
    margin-top: 8px;
    margin-left: 48px;
}

.tasklisttask-description {
    grid-row: 3/4;
    width: 600px;
    height: 80%;
    margin-left: 38px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: none;
    resize: none;
}

.taskcheckbox {
    grid-column: 1/2;
    margin: 0;
    width: 25px;
    height: 25px;
    align-self: center;
}

.tasklisttaskname {
    grid-column: 2/3;
    background: none;
    border: 0;
    border-radius: 5px;
    text-align: left;
    padding: 8px;
    width: 95%;
    height: 50px;
}

.tasklisttaskname:hover {
    background-color: rgb(240, 240, 240);
}

.highpriority {
    color: red;
}

.lowpriority {
    color: rgb(38, 170, 78);
}

.taskduedate {
    grid-column: 3/4;
    text-align: left;
    padding: 8px;
    width: 95%;
    height: 50px;
}

.projectcheckboxcontainer {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 50px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
}

.projectcheckbox {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.projectcheckboxlabel {
    font-size: 1.2em;
}

.createtaskmodal,
.createprojectmodal,
.editprojectmodal,
.edittaskmodal {
    width: 500px;
    align-self: center;
    justify-self: center;
    border-radius: 8px;
    border: 1px solid rgb(216, 60, 60);
    padding: 16px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.25);
}

.createtaskmodal {
    height: 450px;
}

.createprojectmodal {
    height: 350px;
}


.editprojectmodal {
    width: 750px;
    height: 400px;
}

.edittaskmodal {
    width: 750px;
    height: 475px;
}

dialog h1 {
    font-size: 2em;
    margin-bottom: 16px;
    margin-left: 32px;
}

form {
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
    padding-top: 16px;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

form input,
form select {
    flex: 1 0 auto;
    border-radius: 4px;
    border: 0px;
    background-color: rgb(235, 235, 235);
    width: 300px;
    height: 30px;
    margin: 0px 0px 8px 0px;
}

.edittaskmodal select {
    width: 500px;
}

.editprojectmodal input,
.edittaskmodal input {
    width: 500px;
}

form input {
    padding: 8px;
}

form label {
    text-align: right;
    padding-right: 40px;
    width: 130px;
}

.editprojectmodal label,
.edittaskmodal label {
    width: 175px;
}

.editprojectmodal textarea,
.edittaskmodal textarea {
    resize: none;
    width: 500px;
    height: 150px;
    border-radius: 4px;
    border: 0px;
    background-color: rgb(235, 235, 235);
    margin: 8px 0px 8px 0px;
    padding: 8px;
}

form textarea {
    resize: none;
    width: 300px;
    height: 100px;
    border-radius: 4px;
    border: 0px;
    background-color: rgb(235, 235, 235);
    margin: 8px 0px 8px 0px;
    padding: 8px;
}

.buttonsarea {
    margin-left: 120px;
}

form button {
    margin: 32px 8px 0px 8px;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    background-color: rgb(40, 90, 255);
    color: white;
}

form button:hover {
    background-color: rgb(20, 75, 226);
}